.App {
  text-align: center;
}
.score{
  font-size: 5em;
  margin : 0px 2em 5px 2em;
}
.grid {
  max-width: 1000px;
  display : flex;
  flex-wrap: wrap;
  margin : auto;
  justify-content : center;
}

